{% extends 'default/index.html.twig' %}
    {% block bodyindex %}

    <div class="kids_slider_wrapper">
        <div class="kids_slider_inner_wrapper">
            <div class="img-slider">
                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                    <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="{{ asset('bundles/Assets/pic/slide.jpg') }}" alt="slide" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption kids-slider-header customin fadeout tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption kids-slider-header-alt customin fadeout tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="{{ asset('bundles/Assets/pic/slidePlay.jpg') }}" alt="slideR" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption kids-slider-header customin fadeout tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption kids-slider-header-alt customin fadeout tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="4" data-endelementdelay="0.1" data-endspeed="300">

                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="{{ asset('bundles/Assets/pic/kids-pics.jpg') }}" alt="slide-47" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption kids-slider-header customin tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Shop pages included
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption kids-slider-header-alt customin tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">HappyKids includes all the needed page templates, widgets, cart and other shop-related content to represent your online store.
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="{{ asset('bundles/Assets/pic/parent.jpg') }}" alt="slide-27" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption kids-slider-header customin fadeout tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Slider Revolution Inside
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption kids-slider-header-alt customin fadeout tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="4" data-endelementdelay="0.1" data-endspeed="300">A very powerful image slier is bundled into this template. Create your slides and enjoy the result.
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                <!-- MAIN IMAGE -->
                                <img src="{{ asset('bundles/Assets/pic/slide-37.jpg') }}" alt="slide-37" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption kids-slider-header customin fadeout tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Lifetime Support
                                </div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption kids-slider-header-alt customin fadeout tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">We support our products as long as they are being sold. Be sure to get a fast, proffessional and reliable support from our staff.
                                </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <!--/ #kids-slider-->
        </div>
        <!--/ .kids_slider_inner_wrapper-->
    </div>
    <!--/ .kids_slider_wrapper-->
    <!-- .l-page-width -->

    <!--/ .kids_slider_bg-->


    <div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle homepage">
            <div class="l-page-width">
                <section class="kids_posts_container clearfix">
                    <div class="widget_wrapper">
                        <div id="cws_benefits-5" class="widget widget_cws_benefits">
                            <div class="widget-icon bundles/Assets/pic"><img src="{{ asset('bundles/Assets/images/icon-2.png') }}" alt /></div>
                            <div class="cws-widget-content benefits_widget">
                                <h3 class="widget-title">Jeux</h3>
                                <section class="text_part">Ut wisi enim ad minim veniam, quis nostrud exerci tation corper suscipit lobortis nisl ut aliqup.</section>
                                <a href='?page_id=169' class='cws_button '>More</a> </div>
                        </div>
                        <div id="cws_benefits-2" class="widget widget_cws_benefits">
                            <div class="widget-icon bundles/Assets/pic"><img src="{{ asset('bundles/Assets/images/icon-1.png') }}" alt /></div>
                            <div class="cws-widget-content benefits_widget">
                                <h3 class="widget-title">Apprendre en S'amusant</h3>
                                <section class="text_part">Lorem ipsum dolor sit consectetur adipiscing elit. Sed venenatis mollis lac us a egestas.</section>
                                <a href='?page_id=226' class='cws_button '>More</a> </div>
                        </div>
                        <div id="cws_benefits-3" class="widget widget_cws_benefits">
                            <div class="widget-icon bundles/Assets/pic"><img src="{{ asset('bundles/Assets/images/icon-3.png') }}" alt /></div>
                            <div class="cws-widget-content benefits_widget">
                                <h3 class="widget-title">Quiz...</h3>
                                <section class="text_part">Ut wisi enim ad minim veniam, quis nostrud exerci tation corper suscipit lobortis nisl.</section>
                                <a href='#' class='cws_button '>More</a> </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="bottom-border"></div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main>
                                <div class='grid-row clearfix'>
                                    <div class='grid-col grid-col-12'>
                                        <section class='cws-widget'>
                                            <section class='cws_widget_content'>
                                                <div class="recent_projects ">
                                                    <h3 class="section-title">Best Seller</h3>
                                                    <div class="projects_carousel clearfix" data-carousel-column="4">
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-1@2x.jpg') }}" title="Project 1"><img src="{{ asset('bundles/Assets/pic/250x250-kos-1.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 1</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-2@2x.jpg') }}" title="Project 2"><img src="{{ asset('bundles/Assets/pic/250x250-kos-2.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 2</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-3@2x.jpg') }}" title="Project 3"><img src="{{ asset('bundles/Assets/pic/250x250-kos-3.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 3</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-4@2x.jpg') }}" title="Project 4"><img src="{{ asset('bundles/Assets/pic/250x250-kos-4.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 4</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-6@2x.jpg') }}" title="Project 5"><img src="{{ asset('bundles/Assets/pic/250x250-kos-6.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 5</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-5@2x.jpg') }}" title="Project 6"><img src="{{ asset('bundles/Assets/pic/250x250-kos-5.jpg') }}" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 6</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                        <div class="iso-item">
                                                            <div class="content-wrapper">
                                                                <figure>
                                                                    <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_bundles/Assets/picture" href="{{ asset('bundles/Assets/pic/250x250-kos-7@2x.jpg') }}" title="Project 7"><img src="bundles/Assets/pic/250x250-kos-7.jpg" alt="" /> </a>
                                                                </figure>
                                                            </div>
                                                            <div class="gallery-text">
                                                                <div class="title">Project 7</div>
                                                                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer </p>
                                                            </div>
                                                            <div><a href="#" class="cws_button">View Project</a></div>
                                                        </div>
                                                    </div>
                                                    <!--/ .projects-carousel -->
                                                </div>
                                                <!--/ .work-carousel-->
                                                <hr />
                                                <p>&nbsp;</p>
                                            </section>
                                        </section>







{% endblock bodyindex %}