




<!DOCTYPE HTML>
<html>
<head>
    <title>Happy kids</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/alpha/Admin/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/alpha/Admin/css/style.css')}}" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{{ asset('bundles/alpha/Admin/css/font-awesome.css')}}" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('bundles/alpha/Admin/css/icon-font.min.css')}}" type='text/css' />
    <!-- //lined-icons -->
    <script src="{{ asset('bundles/alpha/Admin/js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{ asset('bundles/alpha/Admin/js/amcharts.js')}}"></script>
    <script src="{{ asset('bundles/alpha/Admin/js/serial.js')}}"></script>
    <script src="{{ asset('bundles/alpha/Admin/js/light.js')}}"></script>
    <script src="{{ asset('bundles/alpha/Admin/js/radar.js')}}"></script>
    <link href="{{ asset('bundles/alpha/Admin/css/barChart.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('bundles/alpha/Admin/css/fabochart.css')}}" rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src="{{ asset('bundles/alpha/Admin/js/css3clock.js')}}"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="{{ asset('bundles/alpha/Admin/js/skycons.js')}}"></script>

    <script src="{{ asset('bundles/alpha/Admin/js/jquery.easydropdown.js')}}"></script>

    <!--//skycons-icons-->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!--menu-right-->
                <div class="top_menu">

                    <!--/profile_details-->
                    <div class="profile_details_left">
                        <ul class="nofitications-dropdown">
                            <li class="dropdown note dra-down">

                                <script type="text/javascript">

                                    function DropDown(el) {
                                        this.dd = el;
                                        this.placeholder = this.dd.children('span');
                                        this.opts = this.dd.find('ul.dropdown > li');
                                        this.val = '';
                                        this.index = -1;
                                        this.initEvents();
                                    }
                                    DropDown.prototype = {
                                        initEvents : function() {
                                            var obj = this;

                                            obj.dd.on('click', function(event){
                                                $(this).toggleClass('active');
                                                return false;
                                            });

                                            obj.opts.on('click',function(){
                                                var opt = $(this);
                                                obj.val = opt.text();
                                                obj.index = opt.index();
                                                obj.placeholder.text(obj.val);
                                            });
                                        },
                                        getValue : function() {
                                            return this.val;
                                        },
                                        getIndex : function() {
                                            return this.index;
                                        }
                                    }

                                    $(function() {

                                        var dd = new DropDown( $('#dd') );

                                        $(document).click(function() {
                                            // all dropdowns
                                            $('.wrapper-dropdown-3').removeClass('active');
                                        });

                                    });

                                </script>
                            </li>


                            <li class="dropdown note">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                                <ul class="dropdown-menu two">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 5 new notification</h3>
                                        </div>
                                    </li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{ asset('bundles/alpha/Admin/images/in.jpg')}}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor sit amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li class="odd"><a href="#">
                                            <div class="user_img"><img src="{{ asset('bundles/alpha/Admin/images/in5.jpg')}}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor sit amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li><a href="#">
                                            <div class="user_img"><img src="{{ asset('bundles/alpha/Admin/images/in8.jpg')}}" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor sit amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">See all notification</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!--//profile_details-->
                </div>
                <!--//menu-right-->
                <div class="clearfix"></div>
            </div>




            {% block body %}

            {% endblock %}





            <footer>
                <p>copy HAPPYKIDS </p>
            </footer>
            <!--footer section end-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Happy Kids</h1></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <!--/down-->
        <div class="down">
            <a href="index.html"><img src="{{ asset("bundles/alpha/images/admi.png") }}" width="100" height="100"></a>
            <a href="index.html"><span class=" name-caret">{#{{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }} #}</span></a>
            <p>Administrateur Happy Kids</p>
            <ul>

                <li><a class="tooltips" href="{#{{ path('fos_user_security_logout') }}#}"><i class="lnr lnr-power-switch"></i></a></li>
            </ul>
        </div>
        <!--//down-->
        <div class="menu">
            <ul id="menu" >
                <li><a href="{#{{ path('users') }}#}"><li class="fa fa-dashboard"></li> <span>Dashboard</span></a></li>
                <li><a href="{#{{ path('listbloq') }}#}"><i class="fa fa-shopping-cart"></i> <span>Gestion store</span></a></li>
                <li id="menu-academico" ><a href="#"><i class="fa fa-pencil"></i> <span> Service</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" ><a href="{#{{ path('jobers') }}#}"><i class="fa fa-heart"></i> Gestion Pédiatre</a></li>
                        <li id="menu-academico-boletim" ><a href="{#{{ path('entreprises') }}#}"><i class="fa fa-circle-o-notch"></i>Gestion Baby-sitter</a></li>


                    </ul>
                </li>

                <li id="menu-academico" ><a href="#"><i class="fa fa-gamepad"></i> <span> Loisir</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub" >
                        <li id="menu-academico-avaliacoes" >
                            <a href="{{ path('ajout_even') }}" ><i class=""></i> Gestion évenement</a>
                        </li>
                        <li id="menu-academico-boletim" ><a href="{#{{ path('entreprises') }}#}"><i class=""></i>Gestion espace enfant</a></li>


                    </ul>
                </li>



                <li><a href="{#{{ path('listbloq') }}#}"><i class="fa fa-lock"></i> <span>Déconnexion</span></a></li>

            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<link rel="stylesheet" href="{{ asset('bundles/alpha/Admin/css/vroom.css')}}">
<script type="text/javascript" src="{{ asset('bundles/alpha/Admin/js/vroom.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/alpha/Admin/js/TweenLite.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/alpha/Admin/js/CSSPlugin.min.js')}}"></script>
<script src="{{ asset('bundles/alpha/Admin/js/jquery.nicescroll.js')}}"></script>
<script src="{{ asset('bundles/alpha/Admin/js/scripts.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/alpha/Admin/js/bootstrap.min.js')}}"></script>
</body>
</html>